# the book
/Data Structure and algorithm in Python.pdf

# checkpoint
.ipynb_checkpoints/

# vscode config
.vscode/

# test folder
test/
# but not pkg etst
!pkg/test

# pkg cache
.hypothesis

# cache
source_code/.cache
.pytest_cache
__pycache__
.idea
