# the book
/Data Structure and algorithm in Python.pdf

# checkpoint
.ipynb_checkpoints/

# vscode config
.vscode/

# test folder
test/

# pkg cache
.hypothesis

# cache
source_code/.cache
source_code/__pycache__
.pytest_cache
pkg/pyds/__pycache__